 .App{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

 }
 .AppHeader{
  height: 70px;
  background-color: rgb(228, 242, 249);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 30px 4px 30px;
  border-bottom: 1px solid rgba(237, 244, 242, 0.15);

 }
 .AppFooter{
position: fixed;
left: 0;
bottom:0;
width:100%;
background-color: rgb(228, 242, 249);
color:rgb(243, 239, 239);
text-align: center;
height: 50px;;
justify-content:space-around;
display: flex;
text-align: center;
align-items: center;

 }
 .SideMenuAndPageContent{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;


 }
 .Applicant-Form{
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
   border: 4px solid hsl(0, 0%, 90%);
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }
 .form-1, .form-2{
    flex-basis: 45%;

 }
 .logo{
    height: 500px;
    width: 500px;

 }
 .images{
   height: 100px;
   width: 100px;
 }
 .custom-modal .ant-modal-content {
   width: 850px;
   text-align: center justify; 
   
 }
 

.LoginWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}